In [1]:
import numpy as np
import pandas as pd

## 1.Working with Pandas series

### a) Creating series
Pandas series is a one-dimensional labeled array capable of holding data of any type(integer, string, float, python objects, etc.). The axis labels are collecti vely called index. Labels need not be unique must be harshable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index.

Series through list

In [3]:
lst = [10,20,30,40,50]
pd.Series(lst)

0    10
1    20
2    30
3    40
4    50
dtype: int64

Series through NumPy array

In [4]:
arr = np.array([1,2,3,4,5])
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
dtype: int32

Giving index from our end

In [5]:
pd.Series(data = ['Eshant', 'Pranjal', 'Jayesh', 'Ashish'], index = [1,2,3,4])

1     Eshant
2    Pranjal
3     Jayesh
4     Ashish
dtype: object

Series through dictionry values

In [6]:
dict = {'day1' : 4000, 'day2' : 6000, 'day3' : 9000}
pd.Series(dict)

day1    4000
day2    6000
day3    9000
dtype: int64

Using repeat along with creating a series

Pandas Series.repeat() function repeat elements of a Series. It returns new series where each element of current series is repeated consecutively a given number of times.

In [7]:
pd.Series(7).repeat(5)

0    7
0    7
0    7
0    7
0    7
dtype: int64

we can use reset function to make index accurate

In [8]:
pd.Series(7).repeat(5).reset_index(drop = True)

0    7
1    7
2    7
3    7
4    7
dtype: int64

The following indicates:
 - 10 should be repeated 3 times and
 - 20 should be repeated 2 times.

In [9]:
s = pd.Series([10,20]).repeat([3,2]).reset_index(drop = True)
s

0    10
1    10
2    10
3    20
4    20
dtype: int64

Accessing elements

In [10]:
s[2:4]

2    10
3    20
dtype: int64

### b) Aggregate functio on pandas series
Pandas.Series.aggregate() function aggregate using one or more operations over specified axis in the given series object.

In [11]:
sr = pd.Series([1,2,3,4,5,6,7])
sr.agg([min,max,sum])

min     1
max     7
sum    28
dtype: int64

### c) Series absolute function
Pandas Series.abs() method is used to get the absolute numeric value of each element in Series/DataFrame.

In [12]:
sr = pd.Series([1,-2,-3,4,5,-6,7])
sr.abs()

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

### d) Appending Series
Pandas Series.append() function is used to concatenate two or more series object.

In [13]:
sr1 = pd.Series([1,-2,-3,4,5,-6,7])
sr2 = pd.Series([1,2,3,4,5,6,7])
sr1.append(sr2).reset_index(drop = True)

C:\Users\Mayank\AppData\Local\Temp\ipykernel_14940\3256226811.py:3: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sr1.append(sr2).reset_index(drop = True)

0     1
1    -2
2    -3
3     4
4     5
5    -6
6     7
7     1
8     2
9     3
10    4
11    5
12    6
13    7
dtype: int64

### e) Astype function 
Pandas astype function is used to change data type of a series. When data frame is made from a csv file, the columns are imported and data type is set automatically which many times is not what it actually should have.

In [14]:
type(sr2)

pandas.core.series.Series

In [15]:
sr2.astype('int')

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int32

### f) Between function
Pandas between() method is used on series to check which values lie between first and second argument.

In [16]:
sr = pd.Series([1,2,3,4,5,6,7])
sr.between(2,7)

0    False
1     True
2     True
3     True
4     True
5     True
6     True
dtype: bool

### g) All strings functions can be used to extract or modify texts in a Series

In [17]:
s = pd.Series(['Artificial Intelligence','Machine Learning','Deep Learning','Natural Language processing','Data Science'])

Upper and Lower function

In [18]:
print(s.str.upper())
print(s.str.lower())

0        ARTIFICIAL INTELLIGENCE
1               MACHINE LEARNING
2                  DEEP LEARNING
3    NATURAL LANGUAGE PROCESSING
4                   DATA SCIENCE
dtype: object
0        artificial intelligence
1               machine learning
2                  deep learning
3    natural language processing
4                   data science
dtype: object

In [19]:
for i in s:
    print(len(i))

23
16
13
27
12

Count function

In [20]:
s.str.count('a')

0    1
1    2
2    1
3    4
4    2
dtype: int64

startswith and endswith

In [21]:
print(s.str.startswith('A'))
print(s.str.endswith('g'))

0     True
1    False
2    False
3    False
4    False
dtype: bool
0    False
1     True
2     True
3     True
4    False
dtype: bool

Converting series to a list

In [23]:
print(s.to_list())

['Artificial Intelligence', 'Machine Learning', 'Deep Learning', 'Natural Language processing', 'Data Science']

## 2. Detailed coding implementation on Pandas Dataframe
Pandas DataFrame is two-dimensional size-mutable, potentially heterogenous tabular data structure with labeled axis (rows and columns). A data frame is a two-dimensional data structure i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of principle components, the data, rows amd columns.

### a) Creating dataframes
In a real world, a Pandas DataFrame will be created by loading the datasets from the existing storage, storage can be SQL Databases, CSV file and Excel file. Pandas dataframe can be created from lists, dictionary adn from a list of dictionary etc. Dataframe can be created in different ways here are some ways by which we create a dataframe:

#### Creating a dataframe using a list
Data frame can be created using a list or list of lists

In [24]:
lst = ['Hi', 'everyone', 'my', 'name', 'is', 'Mayank']
pd.DataFrame(lst)

          0
0        Hi
1  everyone
2        my
3      name
4        is
5    Mayank

In [25]:
lst = [['tom',100],['jerry',200],['spike',300]]
pd.DataFrame(lst)

       0    1
0    tom  100
1  jerry  200
2  spike  300

#### Creating DataFrame from dict of ndarray/lists:
To create DataFrame from dict of narray/list, all the arrays must be of same length. If the index is passed then the length should be equal to the length of arrays. If no index is passed, then by default, index will be range(n) where n is array length

In [26]:
data = {'name':['Tom','Nick','Krish','Jack'], 'age':[20,21,19,18]}
pd.DataFrame(data)

    name  age
0    Tom   20
1   Nick   21
2  Krish   19
3   Jack   18

#### A dataframe is a two-dimensional data structure i.e., data is aligned in a tabular fashion in rows and columns. We can perform basic operations on rows/columns like selecting, deleting, adding and renaming.
Column Selection : In order to select a column in Pandas DataFrame, we can either access the columns by calling them by their columns name.

In [29]:
data = {'Name'          : ['Jai','Prince','Gaurav','Anuj'],
        'Age'           : [27,24,22,32],
        'Address'       : ['Delhi','Kanpur','Allahbad','Kannauj'],
        'Qualification' : ['Msc','MA','MCA','Phd']}
df = pd.DataFrame(data)
df[['Name','Qualification']]

     Name Qualification
0     Jai           Msc
1  Prince            MA
2  Gaurav           MCA
3    Anuj           Phd

### b) Slicing in DataFrames Using Iloc and Loc
Pandas comprises many methods for its proper functioning. loc() and iloc() are one of those methods. These are used in slicing data from the Pandas DataFrame. They help in the convenient selection of data from the DataFrame in Pyhton. They are used in filtering the data according to some conditions.

In [3]:
data = {'one'   : pd.Series([1,2,3,4]),
        'two'   : pd.Series([10,20,30,40]),
        'three' : pd.Series([100,200,300,400]),
        'four'  : pd.Series([1000,2000,3000,4000])}
df = pd.DataFrame(data)
df

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000

#### Basic loc Operations
Python loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select. This method includes the last element of the range passed in it, unlike iloc(), loc() can accept the boolean data iloc(). Many operations can be performed using iloc() method like.

In [10]:
df.loc[1:3,'one':'three']

   one  two  three
1    2   20    200
2    3   30    300
3    4   40    400

#### Basic iloc Operations
The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it unlike loc(), iloc() does not accept the boolean data unlike loc().

In [18]:
df.iloc[[0,2],[1,3]]

   two  four
0   10  1000
2   30  3000

In [19]:
df.iloc[1:3]

   one  two  three  four
1    2   20    200  2000
2    3   30    300  3000

### c) Slicing using condition
Using conditions works with loc basically

In [24]:
df.loc[df['two'] > 20,['three','four']]

   three  four
2    300  3000
3    400  4000

In [25]:
df = pd.DataFrame(data)
df

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000

In [26]:
sr = pd.Series([111,222,333,444])
df['five'] = sr
df

   one  two  three  four  five
0    1   10    100  1000   111
1    2   20    200  2000   222
2    3   30    300  3000   333
3    4   40    400  4000   444

### d) Column deletion in DataFrames

In [27]:
del df['three']
df

   one  two  four  five
0    1   10  1000   111
1    2   20  2000   222
2    3   30  3000   333
3    4   40  4000   444

In [30]:

df

   one  two  five
0    1   10   111
1    2   20   222
2    3   30   333
3    4   40   444

In [31]:
df

   one  two  five
0    1   10   111
1    2   20   222
2    3   30   333
3    4   40   444

### e) Addition of rows
In n pandas DataFrame, you can add rows by using append method. You can also create a new DataFrame with the desired row values and use the append to add new row to the original dataframe. Here's an example of adding a single row to a dataframe.

In [33]:
df1 = pd.DataFrame([[1,2],[3,4]], columns = ['a','b'])
df2 = pd.DataFrame([[1,2],[3,4]], columns = ['a','b'])
df1.append(df2).reset_index(drop = True)

C:\Users\Mayank\AppData\Local\Temp\ipykernel_8284\2576600762.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2).reset_index(drop = True)

   a  b
0  1  2
1  3  4
2  1  2
3  3  4

### f) Pandas drop function
Python provide data analyst a way to delete and filter data frame using drop() method. Rows and columns can be removed using index label or column name using this method.

In [2]:
data = {'one'   : pd.Series([1,2,3,4]),
        'two'   : pd.Series([10,20,30,40]),
        'three' : pd.Series([100,200,300,400]),
        'four'  : pd.Series([1000,2000,3000,4000])}
df = pd.DataFrame(data)
df

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000

In [5]:
df.drop([0,3], axis = 0, inplace = True)

In [7]:
df.drop(['one', 'four'], axis = 1, inplace = True)

In [8]:
df

   two  three
1   20    200
2   30    300

### g) Transposing a DataFrame

In [9]:
data = {'one'   : pd.Series([1,2,3,4]),
        'two'   : pd.Series([10,20,30,40]),
        'three' : pd.Series([100,200,300,400]),
        'four'  : pd.Series([1000,2000,3000,4000])}
df = pd.DataFrame(data)
df

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000

In [10]:
df.T

          0     1     2     3
one       1     2     3     4
two      10    20    30    40
three   100   200   300   400
four   1000  2000  3000  4000

### Statistical or Mathematical functions

In [11]:
data = {'one'   : pd.Series([1,2,3,4]),
        'two'   : pd.Series([10,20,30,40]),
        'three' : pd.Series([100,200,300,400]),
        'four'  : pd.Series([1000,2000,3000,4000])}
df = pd.DataFrame(data)
df

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000

1. Sum

In [12]:
df.sum()

one         10
two        100
three     1000
four     10000
dtype: int64

2. Mean

In [13]:
df.mean()

one         2.5
two        25.0
three     250.0
four     2500.0
dtype: float64

3. Median

In [14]:
df.median()

one         2.5
two        25.0
three     250.0
four     2500.0
dtype: float64

4. Variance

In [19]:
df.var()

one      1.666667e+00
two      1.666667e+02
three    1.666667e+04
four     1.666667e+06
dtype: float64

5. Standard Deviation

In [18]:
df.std()

one         1.290994
two        12.909944
three     129.099445
four     1290.994449
dtype: float64

6. Min

In [20]:
df.min()

one         1
two        10
three     100
four     1000
dtype: int64

7. Max

In [21]:
df.max()

one         4
two        40
three     400
four     4000
dtype: int64

 ### Describe function

In [22]:
df

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000

In [23]:
df.describe()

            one        two       three         four
count  4.000000   4.000000    4.000000     4.000000
mean   2.500000  25.000000  250.000000  2500.000000
std    1.290994  12.909944  129.099445  1290.994449
min    1.000000  10.000000  100.000000  1000.000000
25%    1.750000  17.500000  175.000000  1750.000000
50%    2.500000  25.000000  250.000000  2500.000000
75%    3.250000  32.500000  325.000000  3250.000000
max    4.000000  40.000000  400.000000  4000.000000

### Pipe functions

1. Pine Function

In [2]:
data = {'one'   : pd.Series([1,2,3,4]),
        'two'   : pd.Series([10,20,30,40]),
        'three' : pd.Series([100,200,300,400]),
        'four'  : pd.Series([1000,2000,3000,4000])}
df = pd.DataFrame(data)
df

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000

In [3]:
def add_(i,j):
    return i+j
def sub_(i,j):
    return i-j

In [5]:
df.pipe(add_,10), df.pipe(sub_,10)

(   one  two  three  four
 0   11   20    110  1010
 1   12   30    210  2010
 2   13   40    310  3010
 3   14   50    410  4010,
    one  two  three  four
 0   -9    0     90   990
 1   -8   10    190  1990
 2   -7   20    290  2990
 3   -6   30    390  3990)

In [6]:
def mean_(col):
    return col.mean()
def square(i):
    return i*i
df.pipe(mean_).pipe(square)

one         2.5
two        25.0
three     250.0
four     2500.0
dtype: float64

### Working with csv files and basic data analysis using Pandas

#### a) Reading csv
Reading csv file from local system

In [4]:
df = pd.read_csv('Football.csv')

In [5]:
df

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,117,42,3.91,1.40,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,50,23,2.72,1.25,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Netherlands,Eredivisie,(UTR),Gyrano Kerk,24,0,2155,10,7.49,0.33,50,18,2.20,0.79,2020
656,Netherlands,Eredivisie,(AJA),Quincy Promes,18,2,1573,12,9.77,0.59,56,30,3.38,1.81,2020
657,Netherlands,Eredivisie,(PSV),Denzel Dumfries,25,0,2363,7,5.72,0.23,45,14,1.81,0.56,2020
658,Netherlands,Eredivisie,None,Cyriel Dessers,26,0,2461,15,14.51,0.56,84,43,3.24,1.66,2020
659,Netherlands,Eredivisie,(PSV),Cody Gakpo,14,11,1557,7,4.43,0.27,38,15,2.32,0.92,2020

In [6]:
df.head(5)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,117,42,3.91,1.40,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,50,23,2.72,1.25,2016

#### b) Info function

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  660 non-null    object
 1   League                   660 non-null    object
 2   Club                     660 non-null    object
 3   Player Names             660 non-null    object
 4   Matches_Played           660 non-null    int64
 5   Substitution             660 non-null    int64
 6   Mins                     660 non-null    int64
 7   Goals                    660 non-null    int64
 8   xG                       660 non-null    float64
 9   xG Per Avg Match         660 non-null    float64
 10  Shots                    660 non-null    int64
 11  OnTarget                 660 non-null    int64
 12  Shots Per Avg Match      660 non-null    float64
 13  On Target Per Avg Match  660 non-null    float64
 14  Year                     660 non-null    int64
dtypes: float64(4), int64(7), object(4)
memory usage: 77.5+ KB

#### c) isnull() function to check if there are nan values present

In [8]:
df.isnull()

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
656,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
657,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
658,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
659,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
df.isnull().sum()

Country                    0
League                     0
Club                       0
Player Names               0
Matches_Played             0
Substitution               0
Mins                       0
Goals                      0
xG                         0
xG Per Avg Match           0
Shots                      0
OnTarget                   0
Shots Per Avg Match        0
On Target Per Avg Match    0
Year                       0
dtype: int64

#### d) quantile function to get the specific percentile value

In [11]:
df.describe()

,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
count,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000
mean,22.371212,3.224242,2071.416667,11.810606,10.089606,0.476167,64.177273,28.365152,2.948015,1.315652,2018.363636
std,9.754658,3.839498,900.595049,6.075315,5.724844,0.192831,34.941622,16.363149,0.914906,0.474239,1.367700
min,2.000000,0.000000,264.000000,2.000000,0.710000,0.070000,5.000000,2.000000,0.800000,0.240000,2016.000000
25%,14.000000,0.000000,1363.500000,8.000000,6.100000,0.340000,37.750000,17.000000,2.335000,0.980000,2017.000000
50%,24.000000,2.000000,2245.500000,11.000000,9.285000,0.435000,62.000000,26.000000,2.845000,1.250000,2019.000000
75%,31.000000,5.000000,2822.000000,14.000000,13.252500,0.570000,86.000000,37.000000,3.382500,1.540000,2019.000000
max,38.000000,26.000000,4177.000000,42.000000,32.540000,1.350000,208.000000,102.000000,7.200000,3.630000,2020.000000

In [12]:
df.describe(percentiles = [.80])

,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
count,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000
mean,22.371212,3.224242,2071.416667,11.810606,10.089606,0.476167,64.177273,28.365152,2.948015,1.315652,2018.363636
std,9.754658,3.839498,900.595049,6.075315,5.724844,0.192831,34.941622,16.363149,0.914906,0.474239,1.367700
min,2.000000,0.000000,264.000000,2.000000,0.710000,0.070000,5.000000,2.000000,0.800000,0.240000,2016.000000
50%,24.000000,2.000000,2245.500000,11.000000,9.285000,0.435000,62.000000,26.000000,2.845000,1.250000,2019.000000
80%,32.000000,6.000000,2915.800000,15.000000,14.076000,0.610000,90.000000,39.000000,3.600000,1.630000,2020.000000
max,38.000000,26.000000,4177.000000,42.000000,32.540000,1.350000,208.000000,102.000000,7.200000,3.630000,2020.000000

In [13]:
df['Mins'].quantile(.8)

2915.8

In [14]:
df['Mins'].quantile(.99)

3520.0199999999995

#### e) Copy function

In [15]:
de = df.copy()
de

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,117,42,3.91,1.40,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,50,23,2.72,1.25,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Netherlands,Eredivisie,(UTR),Gyrano Kerk,24,0,2155,10,7.49,0.33,50,18,2.20,0.79,2020
656,Netherlands,Eredivisie,(AJA),Quincy Promes,18,2,1573,12,9.77,0.59,56,30,3.38,1.81,2020
657,Netherlands,Eredivisie,(PSV),Denzel Dumfries,25,0,2363,7,5.72,0.23,45,14,1.81,0.56,2020
658,Netherlands,Eredivisie,None,Cyriel Dessers,26,0,2461,15,14.51,0.56,84,43,3.24,1.66,2020
659,Netherlands,Eredivisie,(PSV),Cody Gakpo,14,11,1557,7,4.43,0.27,38,15,2.32,0.92,2020

In [16]:
de['Year + 100'] = de['Year'] + 100

In [17]:
de

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year,Year + 100
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016,2116
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016,2116
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016,2116
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,117,42,3.91,1.40,2016,2116
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,50,23,2.72,1.25,2016,2116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Netherlands,Eredivisie,(UTR),Gyrano Kerk,24,0,2155,10,7.49,0.33,50,18,2.20,0.79,2020,2120
656,Netherlands,Eredivisie,(AJA),Quincy Promes,18,2,1573,12,9.77,0.59,56,30,3.38,1.81,2020,2120
657,Netherlands,Eredivisie,(PSV),Denzel Dumfries,25,0,2363,7,5.72,0.23,45,14,1.81,0.56,2020,2120
658,Netherlands,Eredivisie,None,Cyriel Dessers,26,0,2461,15,14.51,0.56,84,43,3.24,1.66,2020,2120
659,Netherlands,Eredivisie,(PSV),Cody Gakpo,14,11,1557,7,4.43,0.27,38,15,2.32,0.92,2020,2120

In [18]:
df['Player Names'].value_counts()

Andrea Belotti     5
Lionel Messi       5
Luis Suarez        5
Andrej Kramaric    5
Ciro Immobile      5
                  ..
Francois Kamano    1
Lebo Mothiba       1
Gaetan Laborde     1
Falcao             1
Cody Gakpo         1
Name: Player Names, Length: 444, dtype: int64

In [19]:
df['Player Names'].unique()

array(['Juanmi Callejon', 'Antoine Griezmann', 'Luis Suarez',
       'Ruben Castro', 'Kevin Gameiro', 'Cristiano Ronaldo',
       'Karim Benzema', 'Neymar ', 'Iago Aspas', 'Sergi Enrich',
       'Aduriz ', 'Sandro Ramlrez', 'Lionel Messi', 'Gerard Moreno',
       'Morata', 'Wissam Ben Yedder', 'Willian Jose', 'Andone ',
       'Cedric Bakambu', 'Isco', 'Mohamed Salah', 'Gregoire Defrel',
       'Ciro Immobile', 'Nikola Kalinic', 'Dries Mertens',
       'Alejandro Gomez', 'Jose CallejOn', 'Iago Falque',
       'Giovanni Simeone', 'Mauro Icardi', 'Diego Falcinelli',
       'Cyril Thereau', 'Edin Dzeko', 'Lorenzo Insigne',
       'Fabio Quagliarella', 'Borriello ', 'Carlos Bacca',
       'Gonzalo Higuain', 'Keita Balde', 'Andrea Belotti', 'Fin Bartels',
       'Lars Stindl', 'Serge Gnabry', 'Wagner ', 'Andrej Kramaric',
       'Florian Niederlechner', 'Robert Lewandowski', 'Emil Forsberg',
       'Timo Werner', 'Nils Petersen', 'Vedad Ibisevic', 'Mario Gomez',
       'Maximilian Philipp', 'A\x81dam Szalai',
       'Pierre-Emerick Aubameyang', 'Guido Burgstaller', 'Max Kruse',
       'Chicharito ', 'Anthony Modeste', 'Arjen Robben', 'Alexis Sanchez',
       'Romelu Lukaku', 'Harry Kane', 'Jamie Vardy', 'Christian Benteke',
       'Pedro None', 'Eden Hazard', 'Roberto Firmino', 'Sadio Mane',
       'Philippe Coutinho', 'Diego Costa', 'Dele Alli', 'Sergio Aguero',
       'Jermain Defoe', 'Fernando Llorente', 'Michail Antonio',
       'Zlatan Ibrahimovic', 'Olivier Giroud', 'Son Heung-Min',
       'Joshua King', 'Diego Souza', 'Pablo ', 'Robinho ', 'Kempes ',
       'Gabriel Jesus', 'Bruno Rangel ', 'Rogerio ', 'Vitor Bueno',
       'Marinho ', 'Grafite ', 'Andres Chavez', 'Cicero Semedo', 'Sassa',
       'Giorgian de Arrascaeta', 'Keno ', 'Fred ', 'Kleber Gladiador',
       'Pottker ', 'Jonathan Copete', 'Ricardo Oliveira',
       'Angel Rodriguez', 'Gareth Bale', 'Rodrigo None', 'Sergio Leon',
       'Maxi Gomez', 'Mikel Oyarzabal', 'Willian Josa', 'Simone Zaza',
       'Portu ', 'Cristhian Stuani', 'Santi Mina', 'Morales ', 'Munir ',
       'Jose Callejon', 'Sergej Milinkovic-Savic', 'Duvan Zapata',
       'Paulo Dybala', 'Mirco Antenucci', 'Luis Alberto',
       'Roberto Inglese', 'Josip Ilicic', 'Ivan Perisic',
       'Leonardo Pavoletti', 'Kevin Lasagna', 'Niclas Fullkrug',
       'Salomon Kalou', 'Thorgan Hazard', 'Jean-Kevin Augustin',
       'Sandro Wagner ', 'Leon Bailey', 'Daniel Didavi',
       'Alfred Finnbogason', 'Davie Selke', 'Mark Uth',
       'Michael Gregoritsch', 'Julian Brandt', 'Kevin Volland', 'Roger ',
       'Arthur Caike', 'Everton ', 'Hernanes ', 'Luiz Fernando',
       'Wellington Paulista', 'Santiago Trellez', 'Jo', 'Thiago Neves',
       'Bruno Henrique', 'Dudu ', 'Diego ', 'Lucca ', 'Henrique Dourado',
       'Andre', 'Edigar Junio ', 'Junior  Dutra', 'Jaime Mata',
       'Inaki Williams', 'Chimy Avila', 'Raul de Tomas', 'Pablo Sarabia',
       'Borja Iglesias', 'Jorge Molina', 'Charles', 'Arkadiusz Milik',
       'Mandzukic None', 'Andrea Petagna', 'Francesco Caputo',
       'Stephan El Shaarawy', 'Gervinho ', 'Krzysztof Piatek',
       'Alassane Plea', 'Kai Havertz', 'Luka Jovic', 'Ante Rebic',
       'Jadon Sancho', 'Ondrej Duda', 'Paco Alcacer', 'Benito Raman',
       'Wout Weghorst', 'Ishak Belfodil', 'Marco Reus',
       'Jean-Philippe Mateta', 'Sebastien Haller', 'Yussuf Poulsen',
       'Angel Di Maria', 'Remi Oudin', 'Nicolas Pepe', 'Emiliano Sala',
       'Jonathan Bamba', "M'Baye Niang", 'Edinson Cavani',
       'Stephane Bahoken', 'Max Gradel', 'Florian Thauvin',
       'Kylian Mbappe-Lottin', 'Wahbi Khazri', 'Falcao ',
       'Gaetan Laborde', 'Andy Delort', 'Moussa Dembele', 'Memphis Depay',
       'Lebo Mothiba', 'Francois Kamano', 'Luka Milivojevic',
       'Paul Pogba', 'Ashley Barnes', 'Glenn Murray', 'Richarlison ',
       'Callum Wilson', 'Gylfi Sigurdsson', 'Raheem Sterling',
       'Ayoze Perez', 'Alexandre Lacazette', 'Raul Jimenez',
       'Lucas Paqueta', 'Juan Cazares', 'Deyverson ', 'Leandro Damiao ',
       'Yago Pikachu', 'Rodrygo ', 'Andres Rios', 'Roger Guedes ',
       'Leandro Pereira ', 'Pedro ', 'Nico Lupez', 'Nene ', 'Gilberto ',
       'Henrique ', 'Willian ', 'Gabriel Barbosa', 'Diego Rossi',
       'Josef Martinez', 'Chris Wondolowski', 'Nani ', 'Kacper Przybylko',
       'Kei Kamara', 'C.J. Sapong', 'Gyasi Zardes', 'Heber ',
       'Mauro Manotas', 'Brian Fernandez', 'Alejandro Pozuelo',
       'Felipe Gutierrez', 'Jordan Morris', 'Raul Ruidiaz',
       'Jozy Altidore', 'Carlos Vela', 'Nemanja Nikolic',
       'Alexandru Mitrita', 'Joselu', 'Carlos Fernandez', 'Ante Budimir',
       'Lucas Perez', 'Loren Moron', 'Raul Garcla', 'Morata ',
       'Sergio Ramos', 'Lucas Ocampos', 'Cazorla ', 'Pote ',
       'Tiquinho Soares', 'Eduardo Mancha', 'Paulinho ', 'Alex Telles',
       'Bruno Viana', 'Mehrdad Mohammadi', 'Carlos Valenzuela',
       'Ruben Lameiras', 'Moussa Marega', 'Gian-Luca Waldschmidt',
       'Samuel Lino', 'Andre Andre', 'Mehdi Taremi', 'Carlos Vinicius',
       'Sergio Oliveira', 'Douglas Tanque', 'Fabio Abreu',
       'Brayan Riascos', 'Alex Telles ', 'Fabio Martins',
       'Haris  Seferovic', 'Joao Teixeira', 'Bruno Fernandes',
       'Angel Gomes', 'Toni MartÃ\xadnez', 'Pizzi ', 'Bozhidar Kraev',
       'Sandro Lima', 'Rodrigo Pinho', 'Thiago Santana', 'Trincao ',
       'Andraz Sporar', 'Ricardo Horta', 'Bruno Duarte', 'Nuno Santos',
       'Domenico Berardi', 'Joao Pedro', 'Andreas Cornelius',
       'Marco Mancosu', 'Lautaro Martrinez', 'Luis Muriel',
       'Gianluca Lapadula', 'Marcus Thuram', 'Rouwen Hennings',
       'Andre Silva', 'Erling Haaland', 'Jhon Cordoba', 'Robin Quaison',
       'Sebastian Andersson', 'Dimitri Payet', 'Kasper Dolberg',
       'Adrien Thomasson', 'Dario Benedetto', 'Ludovic Ajorque',
       'Islam Slimani', 'Adrien Hunou', 'Denis Bouanga',
       'Sehrou Guirassy', 'Ã\x81ngel Di Maria', 'Habib Diallo',
       'Victor Osimhen', 'Dominic Calvert-Lewin', 'Kevin De Bruyne',
       'Chris Wood', 'Anthony Martial', 'Riyad Mahrez', 'Marcus Rashford',
       'Danny Ings', 'Richarlison  ', 'Teemu Pukki', 'Tammy Abraham',
       'Thiago Galhardo', 'Paolo Guerrero', 'Pepe', 'Michael ',
       'Carlos Sanchez', 'Everaldo ', 'Artur ', 'Marcelo  Cirino',
       'Yeferson Soteldo', 'Eduardo Sasha', 'Rafael Moura', 'Antony None',
       'Quincy Promes', 'Dusan Tadic', 'Armando Broja', 'Steven Berghuis',
       'Michael de Leeuw', 'Lois Openda', 'Danilo Nome', 'Lennart Thy',
       'Donyell Malen', 'Noni Madueke', 'Davy Klaassen',
       'Oussama Tannane', 'Vaclav Cerny', 'Vangelis Pavlidis',
       'Henk Veerman', 'Abdou Harroui', 'Rai Vloet', 'Lassina Traore',
       'Georgios Giakoumakis', 'Alex Pozuelo', 'Kevin Molino',
       'Damir Kreilach', 'Bradley Wright-Phillips', 'Nicolas Lodeiro',
       'Daryl Dike', 'Cristian Pavon', 'Chris Mueller', 'Romell Quioto',
       'Gustavo Bou', 'Robert Beric', 'Ayo Akinola', 'Jeremy Ebobisse',
       'Diego Valeri', 'Youssef   En-Nesyri', 'Carlos Soler',
       'Cristian Tello', 'Esteban Burgos', 'Joao Felix',
       'Federico Valverde', 'Kike GarcIa', 'Ansu Fati', 'Roberto Soriano',
       'Gaetano Castrovilli', 'Henrikh Mkhitaryan', 'Jordan Veretout',
       'Lautaro MartInez', 'Hirving Lozano', 'Lucas Alario', 'Bas Dost',
       'Dani Olmo', 'Ellyes Skhiri', 'Thomas Muller', 'Andre Hahn',
       'Daniel Caligiuri', 'Matheus Cunha', 'Ludovic Blas', 'Karl Toko',
       'Burak Yilmaz', 'Ibrahima Niane', 'Boulaye Dia', 'Moise Kean',
       'Ignatius Ganago', 'Irvin Cardona', 'Wissam Ben', 'Amine Gouiri',
       'Mama Balde', 'Gael Kakuta', 'James Ward-Prowse', 'Diogo Jota',
       'Wilfried Zaha', 'Jack Grealish', 'Jarrod Bowen',
       'Patrick Bamford', 'Danny Ings ', 'Neal Maupay', 'Ollie Watkins',
       'Luciano ', 'Vinicius ', 'Raphael Veiga', 'Luiz Adriano',
       'Cleber ', 'German Cano', 'Brenner None', 'Matheus Babi',
       'Alerrandro ', 'Claudinho ', 'Robson', 'Renato Kayzer',
       'Donny van de Beek', 'Teun Koopmeiners', 'Cantalapiedra ',
       'Bryan Linssen', 'Matavz ', 'Oussama Idrissi', 'Chidera Ejuke',
       'Myron Boadu', 'Klaas-Jan Huntelaar', 'Haris Vuckic',
       'Gyrano Kerk', 'Denzel Dumfries', 'Cyriel Dessers ', 'Cody Gakpo'],
      dtype=object)

#### f) drop function

In [23]:
df.drop(['xG'], axis = 1)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,0.75,120,57,3.88,1.84,2016
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,0.47,117,42,3.91,1.40,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,0.58,50,23,2.72,1.25,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Netherlands,Eredivisie,(UTR),Gyrano Kerk,24,0,2155,10,0.33,50,18,2.20,0.79,2020
656,Netherlands,Eredivisie,(AJA),Quincy Promes,18,2,1573,12,0.59,56,30,3.38,1.81,2020
657,Netherlands,Eredivisie,(PSV),Denzel Dumfries,25,0,2363,7,0.23,45,14,1.81,0.56,2020
658,Netherlands,Eredivisie,None,Cyriel Dessers,26,0,2461,15,0.56,84,43,3.24,1.66,2020
659,Netherlands,Eredivisie,(PSV),Cody Gakpo,14,11,1557,7,0.27,38,15,2.32,0.92,2020

### Report

In [2]:
pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\mayank\anaconda3\lib\site-packages (3.2.0)
Requirement already satisfied: joblib~=1.1.0 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (1.1.1)
Requirement already satisfied: scipy>=1.4.1 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (1.10.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (1.5.3)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (3.7.1)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (2.3.0)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (6.0)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (3.1.2)
Requirement already satisfied: markupsafe~=2.1.1 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (2.1.1)
Requirement already satisfied: visions[type_image_path]==0.7.4 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (0.7.4)
Requirement already satisfied: numpy>=1.16.0 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (1.24.3)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: missingno>=0.4.2 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (0.5.2)
Requirement already satisfied: phik>=0.11.1 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (0.12.3)
Requirement already satisfied: tangled-up-in-unicode==0.2.0 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (0.2.0)
Requirement already satisfied: requests>=2.24.0 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (2.29.0)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (4.65.0)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (0.12.2)
Requirement already satisfied: multimethod>=1.4 in c:\users\mayank\anaconda3\lib\site-packages (from pandas-profiling) (1.9.1)
Requirement already satisfied: attrs>=19.3.0 in c:\users\mayank\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (22.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\mayank\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (2.8.4)
Requirement already satisfied: imagehash in c:\users\mayank\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (4.3.1)
Requirement already satisfied: Pillow in c:\users\mayank\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (9.4.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\mayank\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\mayank\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\mayank\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\mayank\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\mayank\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (23.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\mayank\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mayank\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mayank\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2022.7)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\mayank\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling) (0.5.0)
Requirement already satisfied: pydantic-core==2.6.3 in c:\users\mayank\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling) (2.6.3)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\mayank\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling) (4.6.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\mayank\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mayank\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\mayank\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mayank\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2023.5.7)
Requirement already satisfied: colorama in c:\users\mayank\anaconda3\lib\site-packages (from tqdm>=4.48.2->pandas-profiling) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\mayank\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.2.0->pandas-profiling) (1.16.0)
Requirement already satisfied: PyWavelets in c:\users\mayank\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling) (1.4.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pydantic-settings

Requirement already satisfied: pydantic-settings in c:\users\mayank\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: pydantic>=2.0.1 in c:\users\mayank\anaconda3\lib\site-packages (from pydantic-settings) (2.3.0)
Requirement already satisfied: python-dotenv>=0.21.0 in c:\users\mayank\anaconda3\lib\site-packages (from pydantic-settings) (1.0.0)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\mayank\anaconda3\lib\site-packages (from pydantic>=2.0.1->pydantic-settings) (0.5.0)
Requirement already satisfied: pydantic-core==2.6.3 in c:\users\mayank\anaconda3\lib\site-packages (from pydantic>=2.0.1->pydantic-settings) (2.6.3)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\mayank\anaconda3\lib\site-packages (from pydantic>=2.0.1->pydantic-settings) (4.6.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import matplotlib
import pandas_profiling as pp

C:\Users\Mayank\anaconda3\Lib\site-packages\numba\core\decorators.py:262: NumbaDeprecationWarning: numba.generated_jit is deprecated. Please see the documentation at: https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-generated-jit for more information and advice on a suitable replacement.
  warnings.warn(msg, NumbaDeprecationWarning)
C:\Users\Mayank\anaconda3\Lib\site-packages\visions\backends\shared\nan_handling.py:50: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @nb.jit

PydanticImportError: `BaseSettings` has been moved to the `pydantic-settings` package. See https://docs.pydantic.dev/2.3/migration/#basesettings-has-moved-to-pydantic-settings for more details.

For further information visit https://errors.pydantic.dev/2.3/u/import-error

In [5]:
report = pp.ProfileReport(df)

NameError: name 'pp' is not defined

In [ ]:
report